@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>What's up trainers!</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Who the heck is your favorite Pokemon??</h2>
        <p>This project was made with a lot of help from Microsoft's "Contoso University" sample code first application, so I feel like it'd almost be plagiarizing to not link to that here.</p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">Check it out here</a></p>
    </div>
</div>