<div class="row no-gutters-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Application for car insurance</h5>
        </div>
        <div class="card-body">
            <h3>Please enter your information to recieve an insurance quote.</h3>
            @using (Html.BeginForm("Apply", "Home", FormMethod.Post))
            {
            <div class="row no-gutters">
                <div class="form-group col-md-12">
                    <input name="FirstName" type="text" class="form-control" placeholder="First Name" />
                </div>
                <div class="form-group col-md-12">
                    <input name="LastName" type="text" class="form-control" placeholder="Last Name" />
                </div>
                <div class="form-group col-md-12">
                    <input name="EmailAddress" type="email" class="form-control" placeholder="Email Address"/>
                </div>
                <div class="form-group col-md-12">
                    <p>Please enter your date of birth with the format MMDDYYYY (no dashes or spaces)</p>
                    <input name="DateOfBirth" type="number" class="form-control" placeholder="MMDDYYYY"/>
                </div>
                <div class="form-group col-md-12">
                    <p>Please enter the year of your vehicle in the format YYYY</p>
                    <input name="CarYear" type="number" class="form-control" placeholder="YYYY"/>
                </div>
                <div class="form-group col-md-12">
                    <input name="CarMake" type="text" class="form-control" placeholder="Car Make ex: Jeep"/>
                </div>
                <div class="form-group col-md-12">
                    <input name="CarModel" type="text" class="form-control" placeholder="Car Model ex: Wrangler"/>
                </div>
                <div class="form-group custom-radio">
                    <p>Have you ever had a DUI?</p>
                    <div class="radio">
                        <label class="radio-inline"><input name="Dui" type="radio" value="true" />Yes</label>
                    </div>
                    <div class="radio">
                        <label class="radio-inline"><input name="Dui" type="radio" value="false"  />No</label>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <p>How many speeding tickets do you have?</p>
                    <input name="SpeedingTickets" type="number" class="form-control" />
                </div>
                <div class="form-group custom-radio">
                    <p>Do you wish to recieve full coverage?</p>
                    <div class="radio">
                        <label class="radio-inline"><input name="CoverageOrLiability" type="radio" value="true" />Yes</label>
                    </div>
                    <div class="radio">
                        <label class="radio-inline"><input name="CoverageOrLiability" type="radio" value="false"  />No</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-block btn-primary">Submit</button>
            </div>
            }
        </div>
    </div>
</div>